* {
    text-decoration:none;
    font-family:sans-serif;
}

h2 {
    background:url("bild_logo.png");
    float:left;
    height:300px;
    margin:25px 25px 25px 0px;
    width:300px;
}

h2 span {
    display:none;
}

li b {
    display:block;
}

body {
    background-color:white;
    padding:0px 25px;
}

ul {
    list-style-type: none;
    margin:0;
    padding:0;
    vertical-align:top;
}

li {
    margin:0px 10px 10px 0px;
    padding:10px;
}

li.small_article {
    float: left;
    max-width: 45%;
}

ul li span {
    color:inherit;
    font-weight:bold;
}

ul lu {
    background-color:black;
    color:white;
}

li span {
    background-color:transparent;
    display:inline;
    font-size:60px;
    border-bottom:10px solid #d91918;
    line-height: 90px;
}

li.small_article span {
    font-size: 30px;
    line-height: 60px;
}

li.small_article+li.small_article {
    border: 10px solid #000;
}

li.small_article+li.small_article+li.small_article {
    background: black;
    border: none;
    color: white;
}

li.big_article {
    background-color:white;
    clear: both;
    color:black;
    max-width:90%;
}

li.headliner {
    clear: none;
}

li img {
    display: block;
    padding: 15px 0 15px 15px;
}

li.big_article img {
    float: right;
}

li.headliner img {
    float: none;
    width: 70%;
}